/*****PAGE STYLING*****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 400;
}
/*****NAV*****/

.main-nav {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color:#000000;
}

h1 {
    text-align: center;
}

#topnav h1 {
    padding: 10px 0;
    margin: 0;

}

.main-nav a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.main-nav li{
    margin: 10px 0 10px 0;
}

.main-body li {
    width: 90%;
    margin: 0 auto;
}

h4{
    font-family: "Roboto";
    font-size: 20px;
}

h1 {
    font-family: "Encode Sans";
}


/*****INTRODUCTION*****/

.introduction img{
    max-width: 80%;
}

.introduction {
    margin: 50px 0 50px 0;
    text-align: center;
}

p {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
}

#intro{
    font-weight: 300;
    width: 90%;
    margin: 0 auto 30px auto;
}


/*****BODY*****/

#skills,
#contacts {
    margin: 40px 0;
}

#skills p, #skills ul, #skills li{
    list-style-type: none;
    text-align: center;
}

.main-body {
    list-style-type: none;
    text-align: center;
}

.main-body li img {
    list-style-type: none;
    max-width: 95%;
    margin-bottom: 10px;
    margin-top: 40px;
}

body {
    position: relative;
}
/*****FOOTER*****/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: grey;
    height: 60px;
    padding: 0 20px;
}

#botnav {
    display: none;
}


/*****MISC CLASSES*****/


.contact {
    text-align: center;
    margin: 100px 10px 80px 10px;
}

.contactinfo {
    width: 95%;
    margin: 0 auto;
    display: inline-block;
}

.contactinfo p{
    display: inline;
}

.phone {
    font-size: 100%;
}

.email {
    font-size: 100%;
}

.name {
    font-weight: 500;
    width: 50%;
    margin: 0;
    padding: 0;
    /* padding: 0 0 15px 15px;
    width: 125px; */
}

.top {
    display: inline-block;
    text-align: right;
    font-weight: 500;
}

.top a {
    text-decoration: none;
    color: #000000;
}


/*****MEDIA QUERIES*****/

/*****Tablet*****/

@media (min-width: 768px){
    
    .main-body {
        text-align: center;
    }

    #intro{
        padding-right: 20px;
    }

    #topnav h1 {
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }
    #topnav .main-nav {
        padding: 0 0 10px 0;
        margin: 0;
        text-align: center;        
    }
    
    .introduction {
        display: flex;
        justify-content: flex-start;
        width: 95%;
        margin: 0 auto;

    }
    .introduction img {
        max-height: 225px;
        max-width: 367px;
    }
    
    .introduction p {
        width: 95%;
        margin: 0 auto;
        font-size: 20px;
        text-align: left;
    }
 
    .navhome {
        display: inline-block;
        padding: 0 10px 0 0;
        
    }
    
    .navportfolio {
       display: inline-block; 
       padding: 0 10px 0 10px;
    }
    
    .navcontact {
        display: inline-block;
        padding: 0 0 0 10px;
    }


    .main-nav {
        text-align: center;
    }

    #botnav {
        display: inline-block;
    }

    .bot-nav, .bot-nav li {
        margin: 0;
    }

    #portfolio {
        margin-top: 50px;
    }

    .main-body li {
        display: inline-block;
        width: 49%;
        height: 150px;
        margin: 20px 0 200px 0;
        vertical-align: bottom;
    }
    .main-body li p{
        font-size: 17px;
    }

    .top {
        display: none;
    }

    /*******************************************************************
   
    .Portfolio {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .MarketingPage {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .SearchPage {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .TravelApp {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .MapofFavorite {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .PhotoGallery {
        display: inline;
        height: 50px;
        width: 100px;
    }
    
    .Calculator {
        display: inline;
        height: 50px;
        width: 100px;
    }
    *****************************************************************/
}

/*****Desktop*****/

@media (min-width: 1024px){
    body {
        background: #FFFFFF;
    }
    
    #topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #skills {
        margin-top: 40px;
    }

    .main-body li {
        padding-top: 15px;

        width: 32%;
    }

    .introduction {
        width: 95%;
        margin: 0 auto;
    }

    #botnav {
        display: inline-block;
    }

    .bot-nav, .bot-nav li {
        margin: 0;
    }

}